@font-face {
    font-family:"Pokemon Pixel Font Regular";
    src: url(./pokemon_pixel_font.woff)
}

body {
    font-family: "Pokemon Pixel Font Regular";
}

.card-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.pokemon {
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
}

.pokemon img {
    width: 150px;
}